* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.navbar.change {
  width: 100vw;
  height: 100vh;
  background-color: rgb(224, 224, 225);
  position: fixed;
  display: flex;
  align-items: flex-start;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.change .navbar-nav {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-20rem, 10rem);
}

.change .navbar-nav .nav-item a {
  font-size: 3vw;
  /* color: white; */
}
.change .navbar-nav .contact_btn {
  display: none;

  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 1rem 2rem;
  height: 15vh;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 999;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.navbar-brand img {
  height: 5vw;
}

#navbarNav {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.navbar-nav {
  position: relative;
}
.navbar-nav .nav-item a {
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2vw;
}
.navbar-nav .nav-item:hover .sub_nav_item {
  opacity: 1;
  visibility: visible;
}
.navbar-toggler {
  color: black;
  font-size: 5vw;
}

.sub_nav_item {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  background-color: rgba(0, 0, 0, 0.831);
  position: absolute;
  visibility: hidden;
  transition: opacity 0.5s;
  width: fit-content;
}
.sub_nav_item li > a {
  color: white !important;
  font-weight: 400 !important;
  line-height: 30px;
  transition: color 0.5s;
  font-size: 1vw;
}

.sub_nav_item li:hover a {
  color: #25a70b !important;
}
.hero_carousel {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.carousel-indicators {
  position: absolute;
  bottom: 0%;
}
.carousel-indicators [data-bs-target] {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
}
.carousel-indicators .active {
  background-color: #198754;
}
.carousel-inner img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.carousel-caption {
  position: absolute;
  top: 35%;
  text-align: start;
  width: 40vw;
  height: 40vh;
}

.carousel-caption h1 {
  font-size: 7vw;
  font-weight: 800;
}
.carousel-caption h3 {
  font-size: 2vw;
  font-weight: 700;
}
.carousel-caption p {
  font-size: 1vw;
  width: 35vw;
  font-weight: 400;
}
.hero_btn {
  display: inline-block;
  padding: 1rem;
  transform: translateY(0.5rem);
  text-decoration: none;
  color: white;
  width: 10vw;
  text-align: center;
  transition: all 0.5s;
  font-weight: 600;
  font-weight: 1vw;
}
.hero_btn:nth-child(1) {
  background-color: #25a70b;
  border-color: #25a70b;
}
.hero_btn:nth-child(1):hover {
  background-color: #30cf10fc;
  color: white;
}
.hero_btn:nth-child(2) {
  border: 0.2px solid #fff;
  width: 15vw;
}
.hero_btn:nth-child(2):hover {
  color: black;
  background-color: rgb(255, 255, 255);
}

/* Section 2 */
.section_2 {
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='87' height='50.232' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M0 54.424l14.5-8.373c4.813 2.767 9.705 5.573 14.5 8.37l14.5-8.373V29.303M0 4.193v16.744l-14.5 8.373L0 37.68l14.5-8.374V12.562l29-16.746m43.5 58.6l-14.5-8.37v-33.49c-4.795-2.797-9.687-5.603-14.5-8.37m43.5 25.111L87 37.67c-4.795-2.797-24.187-13.973-29-16.74l-14.5 8.373-14.5-8.37v-33.489m72.5 8.365L87 4.183l-14.5-8.37M87 4.183v16.745L58 37.673v16.744m0-66.976V4.185L43.5 12.56c-4.795-2.797-24.187-13.973-29-16.74L0 4.192l-14.5-8.37m29 33.484c4.813 2.767 9.705 5.573 14.5 8.37V54.42'  stroke-linecap='square' stroke-width='1' stroke='hsla(259, 0%, 69%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  overflow-y: auto;
}
.section_2_left {
  height: 70vh;
  width: 20vw;
  flex: 1;
  overflow: hidden;
}
.section_2_left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: transform 0.3s ease-in;
}
.section_2_left img:hover {
  transform: scale(1.3);
}
.section_2_right {
  height: 70vh;
  width: 20vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}
.section_2_right h2 {
  font-size: 3vw;
  font-weight: 800;
}
.section_2_right h5 {
  color: rgb(128, 126, 126);

  position: relative;
  margin-bottom: 4rem;
}
.section_2_right .hero_btn:nth-child(2) {
  background-color: black;
}
.section_2 .hero_btn:nth-child(1):hover {
  background-color: #48d02c;
}
.section_2 .hero_btn:nth-child(2):hover {
  background-color: rgb(26, 26, 26);
  color: white;
}
.section_2_right h5::after {
  content: "";
  position: absolute;
  height: 1vh;
  width: 5vw;
  background-color: #25a70b;
  top: 180%;
  left: 0;
}
.section_2_right p {
  font-weight: 400;
}
/* End Of Section 2 */

/* Section 3 */
.gallery_container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
}
.gallery_container::-webkit-scrollbar {
  display: none;
}
.section_3_heading {
  /* width: 100%; */
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5rem;
  position: relative;
}
.section_3_heading::after {
  content: "";
  position: absolute;
  bottom: -35%;
  height: 1vh;
  width: 5vw;
  background-color: #25a70b;
}
.section_3_heading h2 {
  font-size: 3vw;
  font-weight: 800;
}
.section_3_heading span {
  font-weight: 500;
  color: rgb(128, 126, 126);
}

.gallery_row_container .col {
  /* border: 1px solid yellow; */
  padding: 0;
  height: 25%;
  overflow: hidden;
  position: relative;
}
.gallery_row_container .col .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  background-color: rgba(26, 255, 0, 0.429);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s;
}
.gallery_row_container .col:hover .overlay {
  opacity: 1;
  visibility: visible;
  animation-name: moveUp;
  animation-duration: 0.5s;
}
.gallery_row_container .col .overlay h3 {
  font-size: 2.5vw;
  color: #fff;
}
.gallery_row_container .col .overlay p {
  font-size: 1.5vw;
  color: #fff;
}

@keyframes moveUp {
  0% {
    transform: translateY(50rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
.gallery_row_container .col img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(1.1);
  transition: transform 0.3s;
}
.gallery_row_container .col:hover img {
  transform: scale(1);
}

/* End Of Section 3 */

/* Section 4 */
.section_4 {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}
.section_4::-webkit-scrollbar {
  display: none;
}
.section_4_heading {
  height: 20vh;
  overflow: hidden;
}
.section_4_heading .col:nth-child(1) {
  padding-left: 5rem;
  padding-top: 1rem;
  height: 100%;
  position: relative;
}
.section_4_heading .col:nth-child(1) h2 {
  font-size: 2.5vw;
  font-weight: 800;
}
.section_4_heading .col:nth-child(1) span {
  font-size: 1.2vw;
  font-weight: 500;
  color: rgb(128, 126, 126);
}
.section_4_heading .col:nth-child(1)::after {
  content: "";
  position: absolute;
  height: 1vh;
  width: 5vw;
  background-color: #25a70b;
  bottom: -25%;
  left: 5rem;
}
.section_4_heading .col:nth-child(2) p {
  font-weight: 400;
}
.card_container {
  width: 100%;
  padding: 0rem 2rem;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  gap: 2rem;
  flex-wrap: wrap;
}
.card {
  width: 20vw;
  height: 60vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform 0.5s;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.1);
}

.card .img {
  height: 25vh;
  overflow: hidden;
  position: relative;
}
.img_content {
  position: absolute;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.img_content h3 {
  font-weight: 800;
  font-size: 2.5vw;
}
.img_content p {
  font-weight: 400;
  font-size: 1.2vw;
}
.card .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.card .content h1 {
  font-size: 4vw;
  font-weight: 700;
}
.card .content span {
  font-weight: 400;
}
.card .content a {
  text-decoration: none;
  padding: 0.8rem;
  transform: translateY(1rem);
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
}
.card .content .green {
  background-color: #25a70b;
  transition: background-color 0.3s;
}
.card .content .green:hover {
  background-color: #30bf14;
}
.bottom_content {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom_content p {
  width: 55%;
  font-size: 1.2vw;
  font-weight: 400;
  text-align: center;
}

/* End Of Section 4 */

/* Section 5 */
.section_5 {
  width: 100%;
  height: 60vh;
  background-image: url("https://images.unsplash.com/photo-1509855051487-8f6fdaf5871d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.customer_review {
  /* border: 1px solid red; */
  width: 80%;
  height: 60%;
  margin-top: 8vw;
  overflow: hidden;
  z-index: 555;
}

.customer_review .img {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  border: 5px solid #25a70b;
}
.customer_review .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 4px solid #fff;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}
.customer_review .img:hover img {
  transform: scale(1.1);
}
.customer_review .reviews {
  width: 80%;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  width: 50%;
}
/* End Of Section 5 */

/* Section 6 */
.section_6_card_container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 2rem;
}
.sm_6_slider {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 2rem;
  display: none;
}
.section_6_card {
  width: 30%;
  height: 80%;
  display: flex;
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
  overflow: hidden;
  margin: 0rem 1rem;
}

.section_6_card .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  align-self: center;
  overflow: hidden;
}
.section_6_card .img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.section_6_card_content {
  background-color: #fff2f2;
  padding: 0.5rem 1rem;
}
.section_6_card_content span {
  display: inline-block;
  padding: 0rem 0.2rem;
  background-color: #25a70b;
  color: #fff;
  margin-bottom: 0.5rem;
}
.section_6_card_content h4 {
  /* font-size: 2vw; */
  text-transform: capitalize;
}
.section_6_card_content h6 {
  text-transform: capitalize;
  color: #aaa8a8;
}
.section_6_card_content p {
  font-size: 1.1rem;
}

/* End Of Section 6 */

/* Section 7 */
.section_7 {
  width: 100%;
  height: 60vh;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='160' height='160' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M121.5 39.5V9.169c0-2.827 1.724-4.707 3.473-5.602l.707-.362c2.086-1.068 4.702-.631 6.359 1.026l1.985 1.985c1.349 1.349 3.235 2.018 5.14 2.128 12.336 0 12.336-18.505 0-18.505M40.75 39.499V9.17c0-2.827-1.724-4.707-3.473-5.602l-.707-.362c-2.086-1.068-4.702-.631-6.359 1.026l-1.985 1.985c-1.349 1.349-3.236 2.018-5.14 2.128-12.336 0-12.336-18.505 0-18.505m146.575 111.248c0-12.337-18.505-12.337-18.505 0 .11 1.904.78 3.79 2.128 5.139l1.985 1.985c1.657 1.657 2.094 4.273 1.026 6.36l-.362.706c-.895 1.75-2.775 3.474-5.602 3.474l-30.33-.001m49.66-63.086c0 12.336-18.505 12.336-18.505 0 .11-1.904.78-3.791 2.128-5.14l1.985-1.985c1.657-1.657 2.094-4.273 1.026-6.359l-.362-.707c-.895-1.749-2.775-3.474-5.602-3.473h-30.33m19.162 130.344c12.337 0 12.337-18.505 0-18.505-1.631 0-3.99.98-5.139 2.128l-1.985 1.985c-1.656 1.656-4.274 2.094-6.36 1.027l-.706-.362c-2.086-1.069-3.474-3.258-3.474-5.602v-34.302l.001-26.228c0-2.344-1.427-4.458-3.473-5.602l-.707-.361a5.83 5.83 0 00-6.36 1.026l-1.984 1.985c-1.144 1.152-3.508 2.128-5.14 2.128-12.336 0-12.336-18.505 0-18.505 1.904.11 3.715.86 5.14 2.128l1.985 1.985a5.812 5.812 0 006.359 1.026l.707-.362c1.287-1.485 3.473-2.775 3.473-5.602v-30.33M23.086 168.343c-12.336 0-12.336-18.505 0-18.505 1.632 0 3.992.98 5.14 2.128l1.985 1.985c1.656 1.656 4.274 2.094 6.359 1.027l.707-.362c2.086-1.069 3.474-3.258 3.474-5.602l-.001-34.302V88.485c0-2.344 1.387-4.533 3.473-5.602l.707-.361c2.085-1.068 4.703-.63 6.359 1.026l1.985 1.985c1.148 1.148 3.508 2.128 5.14 2.128 12.336 0 12.336-18.505 0-18.505-1.905.11-3.791.78-5.14 2.128l-1.985 1.985c-1.657 1.657-4.273 2.094-6.36 1.026l-.706-.362c-1.75-.895-3.474-2.775-3.474-5.602v-30.33m80.75 80.749H91.17c-2.827 0-4.707 1.724-5.602 3.473l-.362.707c-1.068 2.086-.631 4.702 1.026 6.359l1.985 1.985c1.349 1.349 2.018 3.236 2.128 5.14 0 12.336-18.505 12.336-18.505 0 0-1.632.98-3.992 2.128-5.14l1.985-1.985c1.656-1.656 2.094-4.274 1.026-6.359l-.361-.707c-1.069-2.086-3.258-3.474-5.602-3.473h-60.53c-2.344 0-4.533-1.387-5.602-3.473l-.362-.707c-1.067-2.085-.63-4.703 1.027-6.359l1.985-1.985c1.148-1.148 2.128-3.508 2.128-5.14 0-12.336-18.505-12.336-18.505 0M121.5 38H91.169c-2.827 0-4.707-1.724-5.602-3.473l-.362-.707c-1.068-2.086-.631-4.702 1.026-6.359l1.985-1.985c1.349-1.349 2.018-3.235 2.128-5.14C90.344 8 71.84 8 71.84 20.337c0 1.632.977 3.994 2.128 5.14.663.66 1.343 1.305 1.985 1.985 1.608 1.703 2.003 4.23 1.026 6.36-.11.24-.233.474-.361.706C75.48 36.577 73.359 38 71.015 38H36.712L10.485 38c-2.344 0-4.533 1.387-5.602 3.473-.12.236-.24.471-.362.707-1.067 2.085-.63 4.703 1.027 6.36l1.985 1.984c1.148 1.148 2.128 3.508 2.128 5.14C9.66 68-8.844 68-8.844 55.664'  stroke-width='1' stroke='hsla(259, 0%, 78%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.section_7 p {
  width: 60%;
  text-align: center;
  font-size: 1.1vw;
  font-weight: 400;
}
.section_7_btn {
  display: flex;
  gap: 1rem;
  text-decoration: none;
}

.section_7_btn a:nth-child(1) {
  background-color: black;
  color: #fff;
  transition: all 0.3s;
}
.section_7_btn a:nth-child(1):hover {
  background-color: rgb(29, 29, 29);
}
.section_7_btn a:nth-child(2) {
  background-color: #25a70b;
  color: #fff;
  transition: all 0.3s;
}
.section_7_btn a:nth-child(2):hover {
  background-color: #44cf28;
}
.section_7_btn a {
  text-decoration: none;
  padding: 0.8rem;
  font-size: 1.1vw;
  cursor: pointer;
}
/* End Of Section 7 */

/* Footer  */
.footer_container {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
  overflow: hidden;
  background-color: rgb(27, 27, 27);
}
.footer_bottom_details {
  width: 100%;
  height: 3vw;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
}
.footer_bottom_details .right a {
  text-decoration: none;
  color: white;
  margin-right: 1rem;
}
.footer_container .logo {
  flex: 1;
  color: white;
}

.footer_container .footer_content {
  flex: 2;
  color: white;
}
.footer_container .footer_content p {
  width: 80%;
}
.footer_container .footer_content h4 {
  font-weight: 600;
}
.footer_container .social_icons {
  flex: 1;
}

.footer_container .social_icons .input_container input {
  padding: 0.5rem 1rem;
  width: 15vw;
}
.footer_container .social_icons .input_container i {
  display: inline-block;
  transform: translateX(-2rem);
  font-size: 1.6vw;
  cursor: pointer;
}

.footer_container .social_icons .icons i {
  color: white;
  font-size: 2vw;
  margin-right: 1.9rem;
}

/* End of Footer  */
@media screen and (min-width: 992px) {
  .change {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .navbar-nav {
    display: none;
  }
  .change {
    display: block;
  }
  .carousel-caption h1 {
    font-size: 10vw;
  }
  .carousel-caption h3 {
    font-size: 3vw;
  }
  .carousel-caption p {
    font-size: 1.5vw;
  }
  .hero_btn:nth-child(2) {
    width: 18vw;
  }
  .section_2 {
    flex-direction: column;
  }
  .section_2_right {
    height: 100%;
    width: 100%;
    align-items: center;
  }
  .section_2_left {
    height: 100%;
    width: 80%;
  }
  .section_2_left img {
    object-fit: fill;
  }
  .section_2_right h2 {
    font-size: 5vw;
  }
  .section_2 .hero_btn:nth-child(1) {
    width: 15vw;
  }
  .section_2_right p {
    width: 60vw;
  }
  .section_2_right h5::after {
    left: 36%;
  }
  .gallery_row_container .col .overlay h3 {
    font-size: 5vw;
  }
  .gallery_row_container .col .overlay p {
    font-size: 2vw;
  }
  .section_4_heading {
    height: 35vh;
  }
  .section_4_heading .row {
    margin-top: 3rem;
  }
  .section_4_heading .col:nth-child(1) h2 {
    font-size: 4vw;
  }
  .section_4_heading .col:nth-child(2) p {
    width: 60vw;
  }
  .card {
    width: 30vw;
  }
  .img_content h3 {
    font-size: 4vw;
  }
  .img_content p {
    font-size: 1.8vw;
  }
  .bottom_content {
    width: 100%;
    height: 15vh;
  }
  .bottom_content p {
    font-size: 2vw;
  }
  .customer_review .img {
    width: 15vw;
    height: 15vw;
  }
  .section_3_heading h2 {
    font-size: 4vw;
  }
  .section_6_card_content h4 {
    font-size: 2vw;
  }
  .section_6_card_content h6 {
    font-size: 1.2vw;
  }
  .section_6_card_content p {
    font-size: 1.5vw;
  }
  .section_7 p {
    font-size: 2vw;
  }
  .section_7_btn a {
    font-size: 1.8vw;
  }
  .footer_container .social_icons .input_container input::placeholder {
    font-size: 1.2vw;
  }
  .footer_container .social_icons .input_container input {
    width: 20vw;
  }
  .footer_container .social_icons .input_container i {
    font-size: 2.3vw;
  }
}

@media screen and (max-width: 764px) {
  .hero_btn:nth-child(2) {
    width: 20vw;
    font-size: 2vw;
  }
  .hero_btn:nth-child(1) {
    font-size: 2vw;
  }
  .change .navbar-nav {
    transform: translate(-16rem, 10rem);
  }
  .footer_container .logo {
    flex: 1;

    width: 25vw;
  }
  .footer_container .logo img {
    width: 80%;
  }
}

@media screen and (max-width: 692px) {
  .navbar-brand img {
    height: 10vh;
  }
  .hero_btn {
    padding: 0.6rem;
  }
  .hero_btn:nth-child(2) {
    width: 20vw;
    font-size: 2.3vw;
  }
  .hero_btn:nth-child(1) {
    font-size: 2.3vw;
  }
  .change .nav-item .sub_nav_item li a {
    font-size: 16px;
    display: inline-block;
    width: 150px;
  }
  .section_2_right p {
    width: 80vw;
    text-align: center;
  }
  .card {
    width: 35vw;
  }
  .img_content h3 {
    font-size: 6vw;
  }
  .card .content h1 {
    font-size: 6vw;
  }
  .card .content a {
    padding: 0.5rem;
  }
  .customer_review .reviews {
    font-size: 2vw;
    margin-top: 1rem;
  }
  .section_6_card {
    width: 70%;
  }
  .section_6_card_content h4 {
    font-size: 2.5vw;
  }
  .section_7_btn a {
    font-size: 2.3vw;
  }
  .footer_container {
    flex-direction: column;
  }
  .footer_container .footer_content {
    text-align: center;
    flex: 1;
  }
  .footer_container .footer_content p {
    text-align: center;
    width: 100%;
  }
  .footer_container .social_icons .icons i {
    font-size: 3vw;
  }
  .footer_container .social_icons .input_container input {
    width: 25vw;
    margin-top: 0.5rem;
  }
  .footer_container .social_icons .input_container input::placeholder {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 567px) {
  .carousel-caption .hero_btn {
    font-size: 2.5vw;
    width: auto;
  }
  .hero_btn:nth-child(2) {
    width: auto;
    font-size: 2.8vw;
  }
  .hero_btn:nth-child(1) {
    font-size: 2.8vw;
  }

  .carousel-caption p {
    font-size: 3vw;
  }
  .change .navbar-nav {
    transform: translate(-10rem, 10rem);
  }
  .change .navbar-nav .nav-item a {
    font-size: 4vw;
  }
  .change .nav-item .sub_nav_item li a {
    font-size: 16px;
    /* border: 1px solid red; */
    display: inline-block;
    width: 150px;
  }

  .carousel-caption h1 {
    font-size: 15vw;
  }
  .carousel-caption h3 {
    font-size: 4vw;
  }
  .carousel-caption p {
    font-size: 2vw;
    width: 50vw;
  }
  .gallery_row_container .col .overlay h3 {
    font-size: 8vw;
  }
  .gallery_row_container .col .overlay p {
    font-size: 5vw;
  }
  .section_4_heading .col:nth-child(2) p {
    font-size: 2.5vw;
  }
  .gallery_row_container .col {
    width: 100%;
  }
  .section_2 .hero_button .hero_btn {
    font-size: 2.5vw;
  }
  .section_2 .hero_btn:nth-child(1) {
    width: 18vw;
  }
  .section_2_right h2 {
    font-size: 6vw;
  }
  .section_2 .hero_btn {
    font-size: 1.9vw;
  }
  .section_3_heading h2 {
    font-size: 6vw;
  }
  .card {
    width: 40vw;
  }
  .bottom_content p {
    font-size: 2.5vw;
  }
  .customer_review {
    margin-top: 6rem;
  }
  .customer_review .reviews {
    font-size: 2.5vw;
    width: 80%;
  }

  .section_3_heading h2 {
    font-size: 9vw;
  }
  .section_6_card_content h4 {
    font-size: 3.5vw;
  }
  .section_6_card_content h6 {
    font-size: 2vw;
  }
  .section_6_card_content p {
    font-size: 2.3vw;
  }
  .section_7 {
    height: auto;
  }
  .section_7 p {
    font-size: 2.7vw;
  }
  .section_7_btn a {
    font-size: 2.5vw;
  }
  .footer_container .footer_content p {
    font-size: 1.8vw;
  }
  .footer_container .social_icons .input_container input {
    width: 30vw;
  }

  .footer_container .social_icons .input_container i {
    font-size: 4vw;
  }
  .footer_bottom_details {
    padding: 1rem;
  }
}

@media screen and (max-width: 475px) {
  .bar {
    font-size: 7vw;
  }
  .change .navbar-nav {
    left: 35%;
    width: 350px;
  }
  .carousel-caption h3 {
    font-size: 5vw;
    width: 60vw;
  }
  .carousel-caption p {
    font-size: 2.8vw;
    width: 60vw;
  }
  .change .navbar-nav .nav-item .nav-link {
    font-size: 5vw;
  }
  .hero_btn:nth-child(2),
  .hero_btn:nth-child(1) {
    font-size: 2.5vw;
    width: fit-content;
  }
  .section_2 .hero_btn:nth-child(1) {
    width: fit-content;
  }

  .card {
    width: 70vw;
  }
  .bottom_content p {
    font-size: 3vw;
    width: 70%;
  }
  .customer_review .reviews {
    font-size: 3vw;
    width: 90%;
  }
  .section_6_card_content h4 {
    font-size: 4vw;
  }
  .section_6_card_content h6 {
    font-size: 2.3vw;
  }
  .section_6_card_content p {
    font-size: 2.8vw;
  }

  .section_7 p {
    font-size: 3vw;
    margin-top: -1rem;
  }
  .section_7_btn a:nth-child(1),
  .section_7_btn a:nth-child(2) {
    font-size: 2.5vw;
    width: fit-content;
  }
  .section_4_heading {
    height: auto;
  }
  .section_4_heading .row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section_4_heading .col:nth-child(1) {
    width: 100%;
    text-align: center;
    /* margin-bottom: 1.5rem; */
    margin: 1.5rem auto;
    margin-left: -1rem;
  }
  .section_4_heading .col:nth-child(1)::after {
    left: 12rem;
  }
  .section_4_heading .col:nth-child(1) h2 {
    font-size: 9vw;
    margin-left: -3rem;
  }
  .section_4_heading .col:nth-child(1) span {
    font-size: 3vw;
    margin-left: -3rem;
  }
  .section_4_heading .col:nth-child(2) p {
    font-size: 4vw;
    width: 90vw;
    margin-left: -5rem;
    text-align: center;
  }
  .section_6_card {
    width: 100%;
  }
  .card .content h1 {
    font-size: 9vw;
  }
  .img_content h3 {
    font-size: 10vw;
  }
  .img_content p {
    font-size: 3vw;
  }
  .footer_bottom_details {
    font-size: 2vw;
  }
  .footer_container .social_icons .input_container input::placeholder {
    font-size: 2.5vw;
  }
  .footer_container .social_icons .input_container input {
    width: 40vw;
  }
}

@media screen and (max-width: 348px) {
  .navbar {
    border: 1px solid red;
  }
  .footer_container .social_icons .input_container input {
    width: 45vw;
  }
}
